In [1]:
# importing all the Libraries
!pip install googletrans==3.1.0a0
import pandas as pd
#pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
import numpy as np
import warnings
warnings.filterwarnings("ignore")

Requirement already satisfied: googletrans==3.1.0a0 in c:\users\shubh\anaconda3\lib\site-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in c:\users\shubh\anaconda3\lib\site-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: httpcore==0.9.* in c:\users\shubh\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\shubh\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: chardet==3.* in c:\users\shubh\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: sniffio in c:\users\shubh\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.2.0)
Requirement already satisfied: idna==2.* in c:\users\shubh\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: certifi in c:\users\shubh\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.12.7)
Requirement already satisfied: hstspreload in c:\users\shubh\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2023.1.1)
Requirement already satisfied: h2==3.* in c:\users\shubh\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\shubh\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\shubh\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\shubh\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)

In [2]:
# Importing the Data file as Dataframe 
movies_df=pd.read_csv('netflixData.csv')
movies_df

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,62b8b682-f191-4c10-aa04-32319329bd8d,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Ahmed Nader Galal,"Comedies, Dramas, International Movies","Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...",Egypt,2009.0,TV-14,115 min,7.4/10,Movie,"April 25, 2020"
5963,5bed77ab-5e31-4216-8b51-44c9a35442e6,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,NaN,"International TV Shows, TV Dramas","Bashar al-Shatti, Fatima Al Safi, Maram Baloch...",NaN,2019.0,TV-14,1 Season,NaN,TV Show,NaN
5964,4661ec0c-8692-4661-bc76-a96412b311fd,海的儿子,"Two brothers start a new life in Singapore, wh...",NaN,"International TV Shows, TV Dramas","Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,2016.0,TV-14,1 Season,NaN,TV Show,NaN
5965,145c93a7-1924-403c-a933-4ede8ad66f26,반드시 잡는다,After people in his town start turning up dead...,Hong-seon Kim,"Dramas, International Movies, Thrillers",Baek Yoon-sik,South Korea,2017.0,TV-MA,110 min,6.5/10,Movie,"February 28, 2018"
5966,d4613d34-cb71-4bd6-b570-fa857f02c44d,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Young Jun Lee,Children & Family Movies,"Um Sang-hyun, Yang Jeong-hwa, Jeon Tae-yeol, S...",NaN,2018.0,TV-Y7,68 min,4.7/10,Movie,"September 1, 2018"

In [3]:
# Modifying the dataframe and keeping only relevent column 
movies_df=movies_df[['Title','Description','Genres','Rating','Content Type']]
movies_df

,Title,Description,Genres,Rating,Content Type
0,(Un)Well,This docuseries takes a deep dive into the luc...,Reality TV,TV-MA,TV Show
1,#Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",TV-MA,Movie
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",TV-14,Movie
3,#blackAF,Kenya Barris and his family navigate relations...,TV Comedies,TV-MA,TV Show
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",TV-14,Movie
...,...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...","Comedies, Dramas, International Movies",TV-14,Movie
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,"International TV Shows, TV Dramas",TV-14,TV Show
5964,海的儿子,"Two brothers start a new life in Singapore, wh...","International TV Shows, TV Dramas",TV-14,TV Show
5965,반드시 잡는다,After people in his town start turning up dead...,"Dramas, International Movies, Thrillers",TV-MA,Movie
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Children & Family Movies,TV-Y7,Movie

In [4]:
# Dropping the null values
movies_df.dropna()

,Title,Description,Genres,Rating,Content Type
0,(Un)Well,This docuseries takes a deep dive into the luc...,Reality TV,TV-MA,TV Show
1,#Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",TV-MA,Movie
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",TV-14,Movie
3,#blackAF,Kenya Barris and his family navigate relations...,TV Comedies,TV-MA,TV Show
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",TV-14,Movie
...,...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...","Comedies, Dramas, International Movies",TV-14,Movie
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,"International TV Shows, TV Dramas",TV-14,TV Show
5964,海的儿子,"Two brothers start a new life in Singapore, wh...","International TV Shows, TV Dramas",TV-14,TV Show
5965,반드시 잡는다,After people in his town start turning up dead...,"Dramas, International Movies, Thrillers",TV-MA,Movie
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Children & Family Movies,TV-Y7,Movie

In [5]:
# Cleanin the Title of the movie in the dataframe 
movies_df['Title'] = movies_df['Title'].str.replace(r'[^\w\s]|_', '' ,regex=True)

In [7]:
movies_df

,Title,Description,Genres,Rating,Content Type
0,UnWell,This docuseries takes a deep dive into the luc...,Reality TV,TV-MA,TV Show
1,Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",TV-MA,Movie
2,AnneFrank Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",TV-14,Movie
3,blackAF,Kenya Barris and his family navigate relations...,TV Comedies,TV-MA,TV Show
4,catsthemewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",TV-14,Movie
...,...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...","Comedies, Dramas, International Movies",TV-14,Movie
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,"International TV Shows, TV Dramas",TV-14,TV Show
5964,海的儿子,"Two brothers start a new life in Singapore, wh...","International TV Shows, TV Dramas",TV-14,TV Show
5965,반드시 잡는다,After people in his town start turning up dead...,"Dramas, International Movies, Thrillers",TV-MA,Movie
5966,최강전사 미니특공대 영웅의 탄생,"Miniforce, a special task force of elite range...",Children & Family Movies,TV-Y7,Movie

In [8]:
# Will give Movie REcommandation on the basic sof Genres so conversting the String to Numerical data 
! pip install nltk
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

Requirement already satisfied: nltk in c:\users\shubh\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in c:\users\shubh\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\users\shubh\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\shubh\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: joblib in c:\users\shubh\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\users\shubh\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [12]:
vectors = cv.fit_transform(movies_df['Genres']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 2],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
Similar_movies = cosine_similarity(vectors)

In [15]:
Similar_movies

array([[1.        , 0.        , 0.        , ..., 0.53452248, 0.        ,
        0.        ],
       [0.        , 1.        , 0.65465367, ..., 0.14285714, 0.75592895,
        0.43643578],
       [0.        , 0.65465367, 1.        , ..., 0.21821789, 0.57735027,
        0.33333333],
       ...,
       [0.53452248, 0.14285714, 0.21821789, ..., 1.        , 0.37796447,
        0.        ],
       [0.        , 0.75592895, 0.57735027, ..., 0.37796447, 1.        ,
        0.28867513],
       [0.        , 0.43643578, 0.33333333, ..., 0.        , 0.28867513,
        1.        ]])

In [16]:
def recommend(movies):
    movies_index=movies_df[movies_df['Title'] == movies].index[0]
    distance=Similar_movies[movies_index]
    movies_list= sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print (movies_df['Title'].iloc[i[0]])

In [17]:
movies_index=movies_df[movies_df['Title'] == 'UnWell'].index[0]
movies_index
distance=Similar_movies[movies_index]
distance
movies_list= sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
movies_list

[(68, 0.9999999999999998),
 (305, 0.9999999999999998),
 (322, 0.9999999999999998),
 (406, 0.9999999999999998),
 (468, 0.9999999999999998)]

In [18]:
recommend('UnWell')

60 Days In
Alone
Americas Next Top Model
Are You The One
Awake The Million Dollar Game

In [20]:
import pickle

In [21]:
pickle.dump(Similar_movies,open('Similar.pkl','wb'))

In [22]:
pickle.dump(movies_df.to_dict(),open('movies_1.pkl','wb'))